@model MovieModel.Cinema

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Cinema</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Movies.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Movies.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Website)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Website)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TicketPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TicketPrice)
        </dd>

    </dl>
    
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.CinemaID }) |
            @Html.ActionLink("Back to Cinemas", "Index")
        </p>
    
</div>

